@import url(//font.elice.io/EliceDigitalBaeum.css);

.modal{
    width: 300px;
    height: 520px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-family:"Elice Digital Baeum", sans-serif;
}

.modal-title{
    color:#19a82e;
    text-align:center;
    margin-top:2rem;
    margin-bottom:2rem;
}
#submit_button{
    color:#19a82e;
    text-align: center;
    align-items: center;
    background-color:white;
    border:none;

}
#submit_button:focus{
    color:green;
}

#label{
    color:#19a82e;
    text-align:center;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

#input_form{
    margin-right: 1rem;
    border: none;
    border-bottom: solid 1px #19a82e;
    margin-bottom:4rem;
    margin-top: 1rem;
}