.writer_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#input_comp{
    width: 50vw;
    height: 30vh;
    margin:0 auto;
}

#submit_comp{
    background-color:white;
    width: 10vw;
    border:none;

}